<div class="textwidget margin-top-30">
  <p>No matter what you're craving, <em><strong>Restaurant to Room</strong></em> has you covered. Our fast and friendly delivery service brings you hot, fresh food, from a diverse choice of local restaurants.</p>
</div>
<div class="widget">
  <ul>
    <li><a title="Dinner Destiny" href="#"><strong>Dinner Destiny</strong> <span class="cusines">(American)</span></a></li>
    <li><a title="Eat Your Veggies Cafe" href="#"><strong>Eat Your Veggies Café</strong> <span class="cusines">(Vegetarian)</span></a></li>
    <li><a title="Food Rendezvous" href="#"><strong>Food Rendezvous</strong> <span class="cusines">(French)</span></a></li>
    <li><a title="Jeffrey's on the Square" href="#"><strong>Jeffrey's on the Square</strong> <span class="cusines">(Italian)</span></a></li>
    <li><a title="Legume Palace" href="#"><strong>Legume Palace</strong> <span class="cusines">(Indian, Vegetarian)</span></a></li>
    <li><a title="Pickles &amp; Pepperoni Deli" href="#"><strong>Pickles &amp; Pepperoni Deli</strong> <span class="cusines">(Pizza, Sandwiches)</span></a></li>
    <li><a title="Picky Palate" href="#"><strong>Picky Palate</strong> <span class="cusines">(Vegan, Macrobiotic)</a></li>
    <li><a title="Simply Safe" href="#"><strong>Simply Safe</strong> <span class="cusines">(Comfort Food)</span></a></li>
    <li><a title="Supreme &amp; Fancy Pizza" href="#"><strong>Supreme &amp; Fancy Pizza</strong> <span class="cusines">(Pizza)</span></a></li>
    <li><a title="Totally Fishy" href="#"><strong>Totally Fishy</strong> <span class="cusines">(Seafood)</span></a></li>
  </ul>
</div>
